:root {
  --pbwidth: 0%;
}

#progressContainer {
    width: 90%;
    margin: 20px auto;

}

#progressContainer .meta {
  text-align: center;
}
.progressBar {

  text-align: center;
}

.progressBar li{

    list-style-type: none;
    display: inline-block;
    position: relative;
    width: var(--pbwidth);

}

.progressBar li .icon{
    color: #ddd;
    opacity: 1 !important;
}

.progressBar li:after{
    content: '';
    position: absolute;
    width: calc(100% - 1.4em);
    height: 10px;
    background-color: #ddd;
    top: 25%;
    left: calc(-50% + 0.5em);
    z-index: -1;
}

.progressBar li:first-child:after {
    content: none;
}

.progressBar .active .icon {
    color: #ee8c3a;

}

.progressBar li.active:after {
    background-color: #ee8c3a;
}
