#admin .item {
  cursor: pointer;

}
#admin .item i.trash.icon {
  padding-top: 30%;
  display: none;
}

#admin .item .right.floated{
  height: 32px;
}
#admin .item:hover {
  background-color: #545454;
  color: white;
  border-radius: 5px;
}

#admin .item:hover i.trash.icon{
  display: block;
}
.name {
  font-weight: bold;
  font-size: 1.2em;
}
